* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:rost {
    --almost-white: #fffdfa;
    --dark-blue: #00001a;
    --gunmetal: #5e607a;
    --vermelho: #f15051;
    --yellow: #e9aa52;
    --silver: #c5c6ce;

}

body {
    padding: 1.75rem 1rem;
    background: var(--almost-white);
    
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header-mobile button{
    border: none;
    background: none;
}

.primeira-sessao{
    margin-bottom: 4rem;
}

.primeira-sessao img{
    width: 100%;
    margin-bottom: 1.5rem;
}
.primeira-sessao h1{
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.primeira-sessao p{
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--gunmetal);
    margin-bottom: 1.5rem;
}

.primeira-sessao button{
    padding: 0.75rem;
    padding: 2rem;
    background-color: #f15051;
    border: none;
    text-transform: uppercase;
    color: #fffdfa;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
    line-height: 1.5rem;
}

.segunda-sessao{
    background-color: #00001a;
    margin-bottom: 4rem;
    padding: 1.5rem 1rem;
}

.bb {
    border-bottom: 1px solid #5e607a;
}

.mb{
    margin-bottom: 1.75rem;
}

.mt {
    padding-bottom: 1.75rem;
}

.segunda-sessao h2 {
    color: #e9aa52;
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2.2rem;
}

.segunda-sessao h3{
    color: floralwhite;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.segunda-sessao p {
    color: #5e607a;
    font-size: 0.9375rem;
    line-height: 1.625rem;
}